.login .text-input-container {
    width: 100%;
    margin-bottom: 25px;
}

.login .text-input-container label {
    font-size: 18px;
}

.login .text-input-container input {
    height: 60px;
    margin-top: 5px;
    font-size: 24px;
    border-radius: 10px;
    padding-right: 70px !important;
    text-overflow: ellipsis;
}

.login .text-input-container input.input-login {
    background: #fff url(login-inactive.svg) no-repeat calc(100% - 10px);
}

.login .text-input-container input.input-password {
    background: #fff url(password-inactive.svg) no-repeat calc(100% - 15px);
    background-size: 45px;
}

.login .text-input-container input.input-login:focus {
    background-image: url(login-active.svg);
}

.login .text-input-container input.input-password:focus {
    background-image: url(password-active.svg);
}