.edit-modal-content {
    width: 100%;
    height: 500px;
}

.edit-modal-content .content-column {
    width: 50%;
    height: 100%;
    float: left;
}

.edit-modal-content .content-column > * {
    margin-bottom: 20px;
}

.edit-modal-content .text-input-container,
.edit-modal-content select{
    width: 100%;
}

.edit-modal-content .text-input-container label {
    font-size: 16px;
    margin-bottom:2px;
}

.edit-modal-content textarea {
    height: 210px;
    resize: none;
}

.edit-modal-content .labeled-control {
    display: inline-block;
    width: 100%;
}

.edit-modal-content .labeled-control > * {
    width: 100%
}

.edit-modal-content .label-container {
    height: 22px;
    color: #000000;
    font-size: 16px;
    text-align: left;
    margin-bottom: 2px;
}

.edit-modal-content .product-picture {
    height: 240px;
    background-image: url(1.jpg);
    background-size: cover;
    border: 1px solid #D8D8D8;
}

@media (min-width: 800px) {
    .edit-modal-content .content-column:first-child {
        padding-right: 20px;
    }

    .edit-modal-content .content-column:last-child {
        padding-left: 20px;
    }
}

@media (max-width: 800px) {
    .edit-modal-content {
        height: 1000px;
    }

    .edit-modal-content .content-column {
        width: 100%;
        height: 50%;
        float: none;
        padding: 0 10px;
    }
}