* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    position: relative;
}

#app {
    min-width: 480px;
    background-color: #f4f4f6;
    font-family: "PT Sans", serif;
    position: relative;
}

#app .content {
    max-width: 1200px;
    min-height: calc(100vh - 90px);
    margin: 0 auto;
    padding: 0 30px 60px 30px;
    background-color: rgba(0, 0, 0, 0.16);
    height: auto;
    width: 100%;
    position: relative;
}

#app #blured-container.active {
    filter: blur(3px);
}

#app #overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}