.sub-header {
    width: 100%;
    color: #FFFFFF;
    font-size: 16px;
    height: 60px;
    padding-top: 18px;
}

.sub-header .back-link {
    display: block;
    float: left;
    text-decoration: underline;
}

.sub-header .category-label {
    float: right;
}

.sub-header .category-label .category {
    font-weight: bold;
}

.product-card-detailed {
    height: 390px;
    width: 100%;
    background-color: #f4f4f6;
    font-size: 0;
}

.product-card-detailed .picture-container,
.product-card-detailed .details-container {
    display: block;
    float: left;
    width: 50%;
    height: 390px;
}

.product-card-detailed .picture-container {
    padding: 20px;
    position: relative;
}

.product-card-detailed .picture-container .product-picture {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: background-image 0.3s linear;
    overflow: hidden;
}

.product-card-detailed .picture-container .product-picture .water-mark {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 18px;
    color: #ffffff;
    opacity: 0.5;
}

.product-card-detailed .picture-container .product-picture .product-text {
    position: relative;
    top: 260px;
    left: 0;
    bottom: 35px;
    height: 50px;
    width: 525px;
    color: #FFFFFF;
    font-size: 14px;
    font-style: italic;
    line-height: 19px;
    text-align: center;
    padding: 0 20px;
}

.product-card-detailed .picture-container .product-picture .product-slider-btn {
    position: absolute;
    width: 20px;
    height: 40px;
    top: 155px;
    background: url(arrow.svg) no-repeat -5px;
    background-size: cover;
    cursor: pointer;
}

.product-card-detailed .picture-container .product-picture .product-slider-btn-left {
    left: 15px;
}

.product-card-detailed .picture-container .product-picture .product-slider-btn-right {
    right: 15px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.product-card-detailed .picture-container .rating-bar {
    position: absolute;
    bottom: 20px;
    width: calc(100% - 40px);
}

.product-card-detailed .details-container .product-details-panel {
    position: relative;
    height: 100%;
}

.product-card-detailed .details-container .product-description {
    margin-bottom: 20px;
}

.product-card-detailed .details-container .instruction-block {
    font-size: 14px;
    margin-bottom: 20px;
}

.product-card-detailed .details-container a {
    color: #3FC5CB;
}

.product-card-detailed .product-details-footer {
    width: calc(100% - 20px);
    padding-top: 10px;
    border-top: 1px solid #D6D6D6;
    background-color: #f4f4f6;
}

.product-card-detailed .product-details-footer button {
    right: 0;
    top: 15px;
}

.product .modal {
    width: 740px;
}

.product .review-notice {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin: 20px auto;
}

.product .review-notice > span {
    display: block;
}

.product .review-notice .review-link {
    text-decoration: underline;
    color: #f7ff00;
    cursor: pointer;
}

@media (min-width: 800px) {
    .product-card-detailed .details-container .product-details-panel {
        padding-left: 0;
    }

    .product-card-detailed .details-container .product-description {
        max-height: 150px;
        overflow: scroll;
    }
}

@media (max-width: 800px) {
    .product-card-detailed {
        width: 100%;
        height: auto;
    }

    .product-card-detailed .picture-container,
    .product-card-detailed .details-container {
        float: none;
        width: 100%;
    }

    .product-card-detailed .details-container {
        height: auto;
    }

    .product-card-detailed .product-details-footer {
        width: calc(100% - 40px);
    }

    .product .modal {
        width: calc(100% - 60px);
    }
}