.text-input-container {
    display: inline-block;
    width: 235px;
}

.text-input-container input[type="text"],
.text-input-container input[type="password"],
.text-input-container textarea {
    display: block;
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    border: none;
    color: #000000;
    font-size: 14px;
}

.text-input-container input[type="text"],
.text-input-container input[type="password"] {
    height: 35px;
    padding-left: 10px;
}

.text-input-container textarea {
    height: 100px;
    padding: 10px;
}

.text-input-container label {
    display: block;
    width: 100%;
    height: 20px;
    color: #000000;
    font-size: 14px;
    line-height: 19px;
    text-align: left;
    padding-left: 5px;
}

.text-input-container input[type="text"]:focus,
.text-input-container input[type="password"]:focus,
.text-input-container textarea:focus {
    outline: none;
    border: 2px solid #9CC3BC;
}

.text-input-container input[type="text"]:invalid,
.text-input-container input[type="password"]:invalid,
.text-input-container textarea:invalid {
    border: 2px solid #FF0000;
}

.text-input-container input[type="text"]:focus,
.text-input-container input[type="text"]:invalid,
.text-input-container input[type="password"]:focus,
.text-input-container input[type="password"]:invalid {
    padding-left: 8px;
}

.text-input-container textarea:focus,
.text-input-container textarea:invalid {
    padding: 8px;
}

.text-input-container input[type="text"]::-webkit-input-placeholder,
.text-input-container input[type="password"]::-webkit-input-placeholder {
    color: #999999;
    font-size: 14px;
    font-style: italic;
}

.text-input-container input[type="text"]::-moz-placeholder,
.text-input-container input[type="password"]::-moz-placeholder {
    color: #999999;
    font-size: 14px;
    font-style: italic;
}

.text-input-container textarea::-webkit-input-placeholder {
    color: #999999;
    font-size: 14px;
    font-style: italic;
}

.text-input-container textarea::-moz-placeholder {
    color: #999999;
    font-size: 14px;
    font-style: italic;
}

