.header {
    min-width: 480px;
    max-width: 1200px;
    padding: 8px 20px;
    margin: 0 auto;
    color: #fff;
    height: 45px;
    background: linear-gradient(180deg, #449587 0%, #2A8676 100%);
    box-shadow: 0 3px 0 0 rgba(92, 186, 150, 0.5);
}

.header .centered-bar {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.centered-bar .cart-icon {
    display: inline-block;
    height: 30px;
    cursor: pointer;
}

.centered-bar .username-container {
    display: inline-block;
    float: right;
    font-size: 15px;
}

.centered-bar .username-container .exit-icon {
    display: inline-block;
    height: 30px;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 5px;
}