.modal {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-top: 70px;
    width: 480px;
    border-radius: 15px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    left: 50%;
    background-color: #e3e3e3;
    z-index: 1;
}

.modal-header {
    position: absolute;
    top: 0;
    height: 70px;
    width: 100%;
    border-radius: 15px 15px 0 0;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.11);
    font-family: "PT Sans Caption", serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding: 22px 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.modal-body {
    border-radius: 0 0 15px 15px;
    height: 100%;
    padding: 30px 40px;
    color: #000000;
    font-family: "PT Sans Caption", serif;
    font-size: 24px;
    text-align: center;
}

.modal-body .button-container {
    width: 100%;
    text-align: right;
}

.modal-body .button-container button {
    margin-left: 15px;
}

.modal.single-button button {
    width: 220px;
}

.modal.modal-multi-line .button-container {
    margin-top: 20px;
}

@media (max-width: 800px) {
    .modal-body .button-container {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .modal-body {
        padding: 30px 20px;
    }
}