.footer {
    min-width: 480px;
    max-width: 1200px;
    padding-top: 14px;
    margin: 0 auto;
    color: #fff;
    height: 45px;
    background: linear-gradient(180deg, #449587 0%, #2A8676 100%);
    font-size: 15px;
}

.footer .copyright {
    display: block;
    width: 195px;
    margin: 0 auto;
}

.footer .copyright .copyright-company {
    text-decoration: underline;
}